<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>Welcome {{ name }}, how is {{ city }}?</p>
    <p>Your favorite movie is {{ favMovie }}</p>
  </body>
</html>
